<mat-tab-group>
    <mat-tab label="ที่ต้องชำระ"><br><br> <app-payment></app-payment> </mat-tab>
    <mat-tab label="รอยืนยันการชำระ"><br><br> <app-wait-payment></app-wait-payment></mat-tab>
    <mat-tab label="ที่ต้องจัดส่ง"><br><br> <app-wait-sent></app-wait-sent> </mat-tab>
    <mat-tab label="ที่ต้องได้รับ"><br><br><app-send-success></app-send-success> </mat-tab>
    <mat-tab label="ยกเลิก"><br><br> <app-cancel-product></app-cancel-product></mat-tab>
    <mat-tab label="ดูประวัติการซื้อ"><br><br><app-record></app-record> </mat-tab>
</mat-tab-group>