<div class="card-body">

            <div class="card-body">
                <div class="card text-dark bg-light mb-3" style="max-width: 30rem;">
                    <mat-toolbar color="primary">
                        <span>ที่อยู่ที่ 1</span>
                    </mat-toolbar>
                    <div class="card-body">
                        <h3 class="card-title">นาย ปิยะพงษ์ สันโดด</h3>
                        <p class="card-text">บ้านเลขที่ 2 หมู่ 6 ตำบลหนองแสง อำเภอหนองแสง จังหวัดอุดรธานี
                            รหัสไปษณีย์ 41340 เบอร์โทร 0621813560.</p>
                    </div>
                </div>
            </div>

</div>
