<div class="container">
    <mat-toolbar>
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="about"> หมวดหมู่สินค้า
            <mat-icon>expand_more</mat-icon> </button>&nbsp; &nbsp;
        <span class="example-spacer"></span>
        <div class="input-group rounded" style="width: 50%;">
            <input type="search" (keyup)="onKeyAll($event)" class="form-control rounded" placeholder="ค้นหา" aria-label="Search"
                aria-describedby="search-addon" />
        </div>
        <span class="example-spacer"></span>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="openCardProduct()">
            <mat-icon matBadgeColor="warn" 
                        [matBadge]="cartCount" 
                        [matBadgeHidden]="cartCount === 0">
                shopping_cart
            </mat-icon>
            </button>
    </mat-toolbar><br>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let product of ProductList" class="col d-flex"> <a routerLink="/product/{{product.id_product}}/press" class="text-decoration-none text-dark h-100 w-100"> <div class="card h-100 product-card"> <div class="img-container"> <img src="{{product.image_product}}" class="card-img-top" alt="{{product.name_product}}">
                </div>
                <div class="card-body d-flex flex-column"> <h3 class="card-title">{{product.name_product}}</h3>
                    <p class="card-text text-secondary flex-grow-1">{{product.detail_product}}</p> <div class="d-flex justify-content-end mt-auto"> <span class="btn btn-outline-danger">฿{{product.price_product}}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>

<mat-menu #about="matMenu">
    <button mat-menu-item (click)="all()">ทั้งหมด</button>
    <button mat-menu-item (click)="food()">อาหารปลา</button>
    <button mat-menu-item (click)="equiment()">อุปกรณ์เลี้ยงปลา</button>
</mat-menu>