mat-card{
    width: 300;
}

.header{
    text-align: center;
}

.full-width{
    width: 100%;
}

.forgot-password{
    padding-left: 0px;
}

.name-input{
    padding-top: 10px;
}

.aLink{
    float: left;
    padding-left: 10px;
    text-decoration: none;
}
.aLink1{
    float: right;
    padding-right: 15px;
    text-decoration: none;
}